<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Kontakt
                <small>Czekamy na kontakt od Ciebie!</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Kontakt</li>
            </ol>
        </div>

        <div class="col-lg-12">
            <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
            <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1219678.8562310368!2d21.649296778018627!3d53.339939713003524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e0212c55cc9845%3A0xc853b83444adf1cb!2spodlaskie!5e0!3m2!1spl!2spl!4v1512677751802"></iframe>
        </div>

    </div>
    <!-- /.row -->

    <div class="row">


        <div class="col-sm-4">
            <h3>Sklep Wędkarski</h3>
            <h4>Twój Ulubiony Sklep Wędkarski!</h4>

            <p>
                ul. Główna 23<br>
                Podlasie, 00-000<br>
            </p>

            <p><i class="fa fa-phone"></i> <abbr title="Telefon">P</abbr>: (+48) 000-00-00</p>

            <p><i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: <a
                    href="mailto:sklepwedkarski@domena.com">sklepwedkarski@domena.com</a></p>

            <p><i class="fa fa-clock-o"></i> <abbr title="Hours">H</abbr>: Poniedziałek - Piątek: 9:00 - 17:00 </p>
        </div>

    </div>
    <!-- /.row -->

</div><!-- /.container -->
